img {
  max-height: 240px;
  object-fit: cover;
}

h3 {
  font-size: larger;
}

.author {
  margin: 5px;
  font-size: larger;
}

.tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;

  .tag {
    flex: 1 1 1 1;
    margin: 7px 7px 0 0;
    background-color: rgb(61, 188, 230);
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
  }
}


.card-body {
  height: 250px;

  span {
    font-size: small;
  }
}


@media (max-width: 1200px) {
  img {
    height: 200px;
  }
  small {
    margin: 0 0 0 10px;
  }

}

@media (max-width: 992px) {
  .card-body {
    height: 300px;
  }
}


@media (max-width: 575px) {
  .card-body {
    height: 260px;
  }
}

@media (max-width: 250px) {
  .card-body {
    height: 270px;
  }
}


